@model ScaffoldingIsCheatingApparently.Models.Item
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<body>
    <p>Are you sure you want to delete this item??</p>
    <form name="deleteItem" method="post" action="/Home/DeleteItem">
        <label class="control-label">
            Name: @Html.DisplayFor(model => model.Name)
            <input type="hidden" name="Name" value="@Html.DisplayFor(model => model.Name)" />
        </label><br />
                <label class="control-label">
                    Description: @Html.DisplayFor(model => model.Description)
                    <input type="hidden" name="Description" value="@Html.DisplayFor(model => model.Description)" />
                </label><br />
                        <label class="control-label">
                            Quantity:@Html.DisplayFor(model => model.Quantity)
                            <input type="hidden" name="Quantity" value="@Html.DisplayFor(model => model.Quantity)" />
                        </label><br />
                                <label class="control-label">
                                    Price:@Html.DisplayFor(model => model.Price)
                                    <input type="hidden" name="Price" value="@Html.DisplayFor(model => model.Price)" />
                                </label><br />

        <input type="submit" value="Confirm" class="btn-default" />
        <a href="~/Views/Home/List.cshtml">Cancel and return to list</a>
    </form>
</body>